.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  gap: 18px;
  margin-top: 10px;
  height: 45px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  min-height: calc(100dvh - 55px);
}
@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }
}
