.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 80px;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }
}

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px 16px;
}
