.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
}

.postActions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}