:root {
  --control-primary: #fce000;
  --control-primary-hover: #fcd604;
  --control-primary-disabled: #fdee70;
  --control-secondary: rgba(68, 45, 13, 0.078);
  --control-secondary-hover: rgba(59, 40, 12, 0.122);
  --control-secondary-disabled: rgba(80, 52, 11, 0.039);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
