.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input{
    min-width: max(35vw, 250px);
}

.button {
    min-width: 260px;
}

.registrationToggler {
    transition: .3s;
    text-underline-offset: 4px;
    text-decoration: underline dashed;
}
.registrationToggler:hover{
    text-decoration: underline dashed;
    opacity: .7;
}   

.pagetop {
    margin-top: auto;
}
.pagebottom {
    margin-bottom: auto;
}